{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单列表（{$_total}）&nbsp;&nbsp;总金额：￥{$total_price}&nbsp;&nbsp;利润：￥{$total_price}</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-md-12 m-b-xs form-inline text-left">
                            <div class="form-group">
                                <label class="control-label">时间:</label>
                                <select class="input-sm form-control input-s-sm inline" name="time_style"
                                        style="width: auto;">
                                    <option value="create_time"
                                    <?php if(I('time_style')=='create_time'){ echo "selected='selected'"; } ?>
                                    >下单时间</option>
                                    <option value="apifail_time"
                                    <?php if(I('time_style')=='apifail_time'){ echo "selected='selected'"; } ?>
                                    >失败时间</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span class="control-label">日期:</span>
                                <input type="text" name="begin_time" id="begin_time" value="{:I('begin_time')}"
                                       class="input-sm input-s-sm form-control" autocomplete="off" placeholder="开始时间"/>
                                <span class="control-label">-</span>
                                <input type="text" name="end_time" id="end_time" value="{:I('end_time')}"
                                       class="input-sm input-s-sm form-control" autocomplete="off" placeholder="结束时间"/>
                            </div>
                            <div class="form-group">
                                <?php $client=C('CLIENT_TYPE'); ?>
                                <label class="control-label">渠道:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="client"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="client" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('client')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>

                            <div class="form-group">
                                <?php $isps=C('ISP_TEXT');?>
                                <label class="control-label">渠道商:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="isp"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="isps" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('isp')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $payway=C('PAYWAY'); ?>
                                <label class="control-label">支付:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects"
                                        name="pay_way"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="payway" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('pay_way')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <?php $statusarr=C('PORDER_STATUS');?>
                                <label class="control-label">状态:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="status"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="statusarr" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('status')==$key){ echo "selected='selected'"; } ?>>{$vo}</option>
                                    {/volist}
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label">查询条件:</label>
                                <select class="input-sm form-control input-s-sm inline" name="query_name"
                                        style="width: auto;">
                                    <option value="">模糊</option>
                                    <option value="userid"
                                    <?php if(I('query_name')=='userid'){ echo "selected='selected'"; } ?>
                                    >用户ID</option>
                                    <option value="out_trade_num"
                                    <?php if(I('query_name')=='out_trade_num'){ echo "selected='selected'"; } ?>
                                    >订单号</option>
                                    <option value="sender_phone"
                                    <?php if(I('query_name')=='sender_phone'){ echo "selected='selected'"; } ?>>手机号</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" name="userid" value="{:I('userid')}">
                                    <input type="text" name="key" placeholder="请输入名字/单号/手机号" value="{:I('key')}"
                                           class="input-sm form-control">
                                    <span class="input-group-btn"><button type="button" id="search"
                                                                          class="btn btn-sm btn-primary"
                                                                          url="{:U('index')}"> 搜索</button></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="i-checks check-all">全选</th>
                                <th>序号</th>
                                <th>客户信息</th>
                                <th>运单信息</th>
                                <th>运单状态</th>
                                <th>客户信息</th>
                                <th>体积信息</th>
                                <th>重量信息</th>
                                <th>其它费用</th>
                                <th>运费信息</th>
                                <th>支付明细</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_dataList" id="vo"}
                            <tr>
                                <td style="width: 70px;">
                                    <input type="checkbox" class="i-checks ids" name="id[]" value="{$vo.id}">
                                </td>
                                <td style="width: 20px; margin: auto">
                                    {$key+1}
                                </td>
                                <td style="font-size: 12px; width: 200px;">
                                    ID:{$vo.userid}<br/>
                                    昵称:{$vo.username}<br/>
                                </td>
                                <td style="font-size: 12px; width: 200px;">
                                    运单编号:{$vo.trackingNum}<br/>
                                    订单编号:{$vo.out_trade_num}<br/>
                                    下单时间:{$vo.create_time|time_format}<br/>
                                    更新时间:{$vo.update_time|time_format}<br/>
                                    下单渠道: {$vo.channelName}
                                </td>
                                <td style="text-align: center">
                                    {$vo.status | expressOrderStatusName}<br/>
                                    <div class="form-group">
                                        <span style="display: none" id="order_id">{$vo.id}</span>
                                        <button type="button"
                                                class="btn btn-sm btn-primary express_trail" value="{$vo.id}">运单详细
                                        </button>
                                    </div>

                                </td>
                                <td>
                                    <span style="color: #000;font-weight: 700">寄件姓名: {$vo.sender_name}</span><br/>
                                    寄件电话: {$vo.sender_phone}<br/>
                                    寄件城市: {$vo.senderCity}<br/>
                                    <span style="color: #000;font-weight: 700">收件姓名: {$vo.receiveName}</span><br/>
                                    收件电话: {$vo.receivePhone}<br/>
                                    收件城市: {$vo.receiveCity}<br/>
                                    物品名称: {$vo.goods}<br/>
                                </td>
                                <td>
                                    体积: {$vo.volume}m³<br/>
                                    换算: {$vo.volumeWeight}kg<br/>
                                    取整: {$vo.volumeWeight}kg
                                </td>
                                <td>
                                    下单重量: {$vo.weight}kg<br/>
                                    实际重量: {$vo.weightActual}kg<br/>
                                    计费重量: {$vo.weightBill}kg
                                </td>
                                <td>
                                    保价费: {$vo.insuranceFee}元<br/>
                                    耗材费: {$vo.consumeFee}元<br/>
                                    服务费: {$vo.serviceCharge}元<br/>
                                    其它费: {$vo.otherFee}元
                                </td>
                                <td>
                                    快递费用: {$vo.totalPrice}元<br/>
                                    总计费用: {$vo.totalPrice}元<br/>
                                    渠道费用：{$vo.channelToatlPrice}元
                                </td>
                                <td>
                                    {volist name="$vo.billList" id="bill"}
                                    <span>账单:{$i}</span><br/>
                                    <div style="margin-left: 10px">
                                        {if condition="($bill.type ==1)"}
                                        首付:￥{$bill.total_price}
                                        {/if}
                                        {if condition="($bill.type ==2)"}
                                        超重转寄等费用:￥{$bill.total_price}
                                        {/if}
                                        {if condition="($bill.pay_status ==2)"}
                                        <span style="color:lightskyblue">已支付￥{$bill.pay_money}</span><br/>
                                        {else/}
                                        <span style="color:red">未支付￥{$bill.pay_money}</span><br/>
                                        {/if}
                                    </div>
                                    {/volist}
                                </td>

                                <td style="font-size: 12px;">
                                    {if condition="($vo.status < 2)"}
                                    <button class="btn btn-sm btn-danger ajax-post" target-form="i-checks"
                                            href="{:U('cancelOrder?id='.$vo.id.'&out_trade_num='.$vo.out_trade_num)}" title="取消运单">
                                        取消运单
                                    </button>

                                    {/if}
                                    {if condition="($vo.status == -1)"}
                                    <button type="button"
                                            class="btn btn-sm btn-primary ajax-post"
                                            href="{:U('createChannelOrder?id='.$vo.id)}" title="远程生单"> 远程生单
                                    </button>
                                    {/if}
                                    <button class="btn btn-sm btn-warning ajax-post test" target-form="i-checks"
                                            href="{:U('updateRemoteOrder?channel_order_id='.$vo.channel_order_id.'&type='.$vo.type)}" title="更新渠道信息">
                                        更新渠道信息
                                    </button>
                                    <button class="btn btn-sm btn-primary open-window no-refresh" target-form="i-checks"
                                            href="{:U('log?out_trade_num='.$vo.out_trade_num)}" title="详情">
                                        详情日志
                                    </button>
                                </td>

                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="page">
                        {$_list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/laydate/laydate.js"></script>
<script>
    //执行一个laydate实例
    laydate.render({
        elem: '#begin_time',
        type: 'datetime',
        done: function (value, date, endDate) {
            $('#begin_time').val(value);
        }
    });
    laydate.render({
        elem: '#end_time',
        type: 'datetime',
        done: function (value, date, endDate) {
            $('#end_time').val(value);
        }
    });
    $(".tiptext").click(function () {
        var text = $(this).data('text');
        layer.alert(text, {
            skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
        }, function () {
            layer.closeAll();
        });
    });


    $('.express_trail').click(function (){
        layer.open({
            type:2,
            fixed: false, //不固定
            maxmin: true,
            title: false,
            area: ['800px', '560px'],
            shade: 0.8,
            title: false,
            content: "{:U('express_trail')}?id="+$(this).val()
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
</body>
</html>
