{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>套餐管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-md-2 form-inline text-left">
                            <div class="form-group">
                                <a class="btn btn-sm btn-white open-reload"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-sm btn-primary open-window no-refresh" title="新增"
                                   href="{:U('param_edit',['reapi_id'=>I('id')])}"><i
                                        class="fa fa-plus"></i> 新增</a>

                            </div>
                        </div>
                        <div class="col-md-10 m-b-xs form-inline text-right">
                        </div>
                        <div class="col-sm-12 m-b-xs">
                            参数说明：{$api.api_remark}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>成本</th>
                                <th>参数1</th>
                                <th>参数2</th>
                                <th>参数3</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.desc}</td>
                                <td>{$vo.cost}</td>
                                <td>{$vo.param1}</td>
                                <td>{$vo.param2}</td>
                                <td>{$vo.param3}</td>
                                <td>
                                    <a class="open-window"
                                       href="{:U('param_edit',['id'=>$vo['id'],'reapi_id'=>I('id')])}"
                                       title="编辑">编辑套餐</a>
                                    <a class="ajax-get confirm text-danger" title="删除"
                                       href="{:U('deletes_param?id='.$vo.id)}">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    $("#search,#excel").click(function () {
        var url = $(this).attr('url');
        var query = $('.input-groups').find('input').serialize();
        var select = $('.input-groups').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        if (url.indexOf('?') > 0) {
            url += '&' + select;
        } else {
            url += '?' + select;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".input-sm").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
    $(".serach_selects").change(function () {
        $("#search").click();
        return false;
    });
</script>
</body>
</html>
