{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">累计</span>
                    <h5>营业额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.total_price}</h1>
                    <small>总</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">累计</span>
                    <h5>会员数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.cus_num}</h1>
                    <small>总</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">累计</span>
                    <h5>订单数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.order_num}</h1>
                    <small>总</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">累计</span>
                    <h5>会员余额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.cus_balance}</h1>
                    <small>当前</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>今日营业额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.today_price}</h1>
                    <small>今天</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">累计</span>
                    <h5>代理商</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.agent_num}</h1>
                    <small>总</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">累计</span>
                    <h5>今日订单数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.today_order_num}</h1>
                    <small>今日</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">累计</span>
                    <h5>代理余额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$data.agent_balance}</h1>
                    <small>当前</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="mains" style="width:100%;height:400px;"></div>
    </div>
</div>
</body>
<script src="__JS__/echarts.min.js"></script>
<script>
    $.post("{:U('index/statistics')}", {}, function (result) {
        console.log(result);
        if (result.errno == 0) {
            var date = [];
            var data = [];
            for (var i = 0; i < result.data.length; i++) {
                date.push(result.data[i].time);
                data.push(parseFloat(result.data[i].price));
            }
            show_charts(date, data);
        } else {
            console.log('未查询到数据');
        }
    });

    function show_charts(date, data) {
        var myChart = echarts.init(document.getElementById('mains'));
        myChart.setOption({
            color: ['#ff9c00'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            title: {
                left: 'center',
                text: '营业金额统计',
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: date,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '营业收入',
                    itemStyle: {
                        color: 'rgb(255, 70, 131)'
                    },
                    smooth: true,
                    symbol: 'none',
                    sampling: 'average',
                    type: 'line',
                    barWidth: '60%',
                    areaStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgb(255, 158, 68)'
                        }, {
                            offset: 1,
                            color: 'rgb(255, 70, 131)'
                        }])
                    },
                    data: data
                }
            ]
        });
    }


</script>
</html>
