{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>代理等级</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups" style="margin-bottom: 10px;">
                        <div class="col-md-2 form-inline text-left">
                            <div class="form-group">
                                <a class="btn btn-sm btn-primary open-window" href="{:U('grade_edit')}" title="新增等级"><i
                                        class="fa fa-plus"></i> 新增</a>
                                <a class="btn btn-sm btn-white open-reload"><i
                                        class="glyphicon glyphicon-repeat"></i></a>
                            </div>
                        </div>
                        <div class="col-md-10 m-b-xs form-inline text-right">
                            <div class="form-group">
                                <?php $types=C('CUS_TYPE');?>
                                <label class="control-label">类型:</label>
                                <select class="input-sm form-control input-s-sm inline serach_selects" name="grade_type"
                                        style="width: auto;">
                                    <option value="0">请选择</option>
                                    {volist name="types" id="vo"}
                                    <option value="{$key}"
                                    <?php if(I('grade_type')==$key){ echo "selected='selected'"; } ?>
                                    >{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn"><button type="button" id="search"
                                                                          class="btn btn-sm btn-primary"
                                                                          url="{:U('grade')}"> 搜索</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <span>当高等级（店铺，代理高级）开启自定价时，他们的下级将使用他们的自定义价格。没有上级的“默认等级”用户使用系统设置的价格。</span></div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>类型</td>
                                <th>等级名称</th>
                                <th>升级费用</th>
                                <th>返利金额</th>
                                <th>升级奖励</th>
                                <th>自定价</th>
                                <th>备注</th>
                                <th>排序</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{:C('CUS_TYPE')[$vo.grade_type]}</td>
                                <td>{$vo.grade_name}</td>
                                <td>
                                    {eq name="vo.id" value="2"}
                                    {$vo.up_price}
                                    {else/}
                                    -
                                    {/eq}
                                </td>
                                <td>
                                    {eq name="vo.id" value="2"}
                                    {$vo.rebate_price}
                                    {else/}
                                    -
                                    {/eq}
                                </td>
                                <td>
                                    {eq name="vo.id" value="2"}
                                    {$vo.up_rewards}
                                    {else/}
                                    -
                                    {/eq}
                                </td>
                                <td>
                                    {in name="vo.id" value="2,4"}
                                    {$vo.is_zdy_price==1?'是':'否'}
                                    {else/}
                                    -
                                    {/in}
                                </td>
                                <td>{$vo.remark}</td>
                                <td>{$vo.sort}</td>
                                <td>
                                    <a class="open-window" href="{:U('grade_edit?id='.$vo.id)}" title="编辑">编辑</a>
                                    <a class="open-window no-refresh" href="{:U('price?grade_id='.$vo.id)}"
                                       title="{$vo.grade_name}价格设置">产品价格</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
