{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>代理价格表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-sm-4 m-b-xs">
                            <a class="btn btn-white open-reload"><i class="glyphicon glyphicon-repeat"></i></a>
                        </div>
                        <div class="col-sm-6" style="float: right;">
                            <div class="input-group">
                                <input type="hidden" name="grade_id" value="{:I('grade_id')}"
                                       class="input-sm form-control">
                                <input type="text" name="key" placeholder="请输入套餐/描述" value="{:I('key')}"
                                       class="input-sm form-control">
                                <span class="input-group-btn"><button type="button" id="search"
                                                                      class="btn btn-sm btn-primary"
                                                                      url="{:U('price')}"> 搜索</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>等级</td>
                                <th>产品</th>
                                <th>描述</th>
                                <th>备注</th>
                                <th>运营商</th>
                                <th>状态</th>
                                <th>基础价</th>
                                <th>浮动价(相对)</th>
                                <th>返利</th>
                                <th>编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>{$vo.grade_name}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.desc}</td>
                                <td>{$vo.remark}</td>
                                <td>{$vo.isp|getISPText}</td>
                                <td>{eq name="vo.added" value="0"}<span
                                        class="text-danger">下架</span>{else/}<span
                                        class="text-info">上架</span>{/eq}
                                </td>
                                <td>{$vo.price}</td>
                                <td>{$vo.ranges}</td>
                                <td>上下级关系中的等级差价格</td>
                                <td><a class="open-window" href="{:U('price_edit?id='.$vo.id)}" title="价格-{$vo.name}">编辑</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    $("#search,#excel").click(function () {
        var url = $(this).attr('url');
        var query = $('.input-groups').find('input').serialize();
        var select = $('.input-groups').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        if (url.indexOf('?') > 0) {
            url += '&' + select;
        } else {
            url += '?' + select;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".input-sm").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
    $(".serach_selects").change(function () {
        $("#search").click();
        return false;
    });
</script>
</body>
</html>
