{include file="public/header" /}
<style>

    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }
    .express_info {
        overflow: hidden;
        margin-top: 45px;
    }
    .leftBox,
    .sender_box,
    .receive_box{
        float: left;
        margin-left: 30px;
        overflow: hidden;
        width: 200px;
    }
    .time_line_box {
        margin: 20px;
    }
    .layui-timeline-title {
        font-size: 14px !important;
    }
    .title {
        margin-bottom: 20px;
    }
    .common_text {
        line-height: 20px;
    }
    .refresh {
        color: #17b3a3;
    }
</style>
<body class="gray-bg" style="background-color: #FFFFFF">

<div class="express_info">
    <div class="leftBox">
        <div class="common_text">
            运单号：{$order.trackingNum}
        </div>
        <div class="common_text">
            订单号：{$order.out_trade_num}
        </div>
    </div>
    <div class="sender_box">
        <div class="common_text">
            寄件信息
        </div>
        <div class="common_text">
            {$order.sender_name}
        </div>
        <div class="common_text">
            {$order.sender_phone}
        </div>
        <div class="common_text">
            {$order.senderCity}{$order.sender_address}
        </div>
        <div class="common_text">
            物品信息
        </div>
        <div class="common_text">
            托寄物：{$order.goods}
        </div>
        <div class="common_text">
            包裹数：{$order.packageNum}
        </div>
        <div class="common_text">
            保价：{$order.guaranteeValueAmount}
        </div>
    </div>
    <div class="receive_box">

        <div class="common_text">
            收件信息
        </div>
        <div class="common_text">
            {$order.receiveName}
        </div>
        <div class="common_text">
            {$order.receivePhone}
        </div>
        <div class="common_text">
            {$order.receiveCity}{$order.receiveAddress}
        </div>
    </div>
</div>


<!--时间线-->
<div class="time_line_box">
    <div class="title">
        <span>物流跟踪  </span>
        <span class="refresh" onclick="location.reload()">刷新</span>
    </div>
    <ul class="layui-timeline">
        {volist name="order.traceList" id="vo"}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{$vo.opeRemark}</h3>
                <p>{$vo.opeTime}</p>
            </div>
        </li>
        {/volist}
    </ul>
</div>
</div>
<script src="__JS__/laydate/laydate.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
</body>
</html>
