{include file="public/header" /}
<style>
    .table-bordered > tbody > tr:hover {
        background-color: #f5f5f5
    }

    .text-navys {
        color: #b31a2f;
    }
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文章列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row input-groups">
                        <div class="col-sm-5 m-b-xs">
                            {notempty name=":I('typeid')"}
                            <a href="{:U('conedit')}?typeid={:I('typeid')}&typeid2={:I('typeid2')}" class="btn btn-primary open-window"
                               title="新增文档"
                               style="padding: 4px 12px;"
                               type="button"><i class="fa fa-plus"></i> 新增</a>
                            {/notempty}
                            <a class="btn btn-white open-reload"><i class="glyphicon glyphicon-repeat"></i></a>
                        </div>
                        <div class="col-sm-3" style="float: right;">
                            <div class="input-group">
                                <input type="text" name="key" placeholder="请输入标题、关键词" value="{:I('key')}"
                                       class="input-sm form-control">
                                <span class="input-group-btn"><button type="button" id="search"
                                                                      class="btn btn-sm btn-primary"
                                                                      url="{:U('conlist')}"> 搜索</button></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>分类</th>
                                <th>模型</th>
                                <th>作者/来源</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>{$vo.title}</td>
                                <td>{$vo.typename}{$vo['typename2']?'>'.$vo['typename2']:$vo['typename2']}</td>
                                <td>{$vo.channelname}</td>
                                <td>{$vo.writer}/{$vo.source}</td>
                                <td>{$vo.pubdate|time_format}</td>
                                <td>
                                    <a href="{:U('conedit?id='.$vo.id)}" class="open-window text-info no-refresh"
                                       title="编辑">编辑</a>
                                    <a class="text-danger ajax-get confirm"
                                       href="{:U('delcon?&id='.$vo.id)}" title="删除">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
    $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.input-groups').find('input').serialize();
        var select = $('.input-groups').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        if (url.indexOf('?') > 0) {
            url += '&' + select;
        } else {
            url += '?' + select;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".input-sm").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
    $(".serach_selects").change(function () {
        $("#search").click();
        return false;
    });
</script>
</body>
</html>
